<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>About</title>
<!-- Stylesheets -->
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<link href="css/responsive.css" rel="stylesheet">

<!--Color Themes-->
<!--<link href="css/color-themes/default-theme.css" rel="stylesheet">-->

<!--Favicon-->
<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
<link rel="icon" href="images/favicon.ico" type="image/x-icon">
<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
<!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>

<body>
<div class="page-wrapper">
 	
    <!-- Preloader -->
    <div class="preloader"></div>
 	
    <!-- Main Header-->
    <header class="main-header">
    
        <!--Header Top-->
        <div class="header-top-one">
            <div class="container">
                <div class="flex-box-three">
                    <div class="welcome-text flex-box-four">
                        <div class="text">Home Loans now from 7.50%* p.a.</div>
                        <div class="link"><a href="#" class="theme-btn btn-style-fifteen">Apply now</a></div>
                    </div>
                    <div class="top-right flex-box-three">
                        <ul class="topbar-menu">
                            <li><a href="#">Get Support</a></li>
                            <li><a href="#">Job Career</a></li>
                            <li><a href="#">Feedbacks</a></li>
                        </ul>
                        <ul>
                            <li class="language-switcher dropdown"><a class="btn btn-default dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" href="#"><span class="icon"><img src="images/icons/universal.png" alt="" /></span>&ensp; Newyork <span class="icon fa fa-angle-down"></span></a>
                                <ul class="dropdown-menu style-one" aria-labelledby="dropdownMenu1">
                                    <li><a href="#">Newyork</a></li>
                                    <li><a href="#">California</a></li>
                                    <li><a href="#">Los Angeles</a></li>
                                    <li><a href="#">Las Palmas</a></li>
                                </ul>
                            </li>
                        </ul>
                        
                    </div>
                </div>
            </div>
        </div>
    
        <!--Header-Upper-->
        <div class="header-upper">
            <div class="container">
                <div class="flex-box-three">
                    
                    <div class="logo-outer">
                        <div class="logo"><a href="index.html"><img src="images/logo.png" alt="" title=""></a></div>
                    </div>
                    
                    <div class="flex-box-four">
                        
                        <!--Info Box-->
                        <div class="info-box-one">
                            <div class="icon-box"><span class="icon-signs-1"></span></div>
                            <ul>
                                <li><i>SFinance, Broke St</i></li>
                                <li><strong>Newyork 10012, USA</strong></li>
                            </ul>
                        </div>
                        
                        <!--Info Box-->
                        <div class="info-box-one">
                            <div class="icon-box"><span class="icon-technology"></span></div>
                            <ul>
                                <li><i>Quick Contact:</i></li>
                                <li><strong>+44 567 890123 & 30 </strong></li>
                            </ul>
                        </div>

                        <div class="link-btn">
                            <a href="#" class="theme-btn btn-style-fourteen">Get a Quote</a>
                        </div>
                        
                    </div>
                    
                </div>
            </div>
        </div>
        <!--End Header Upper-->
        
        <!--Header Lower-->
        <div class="header-lower">
            
            <div class="container">
                <div class="menu-bg">
                    <div class="nav-outer clearfix">
                        <!-- Main Menu -->
                        <nav class="main-menu">
                            <div class="navbar-header">
                                <!-- Toggle Button -->      
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                </button>
                            </div>
                            
                            <div class="navbar-collapse collapse clearfix">
                                <ul class="navigation clearfix">
                                    <li><a href="index.html">Home</a></li>
									<li><a href="about.html">About Company</a></li>
									<li><a href="team.html">Meet Our Team</a></li>
									<li><a href="contact.html">Contact Us</a></li>
                                </ul>
                            </div>
                        </nav>
                        <!-- Main Menu End-->
                        
                        <div class="outer-box">
                            <!--Search Box-->
                            <div class="search-box-outer">
                                <div class="dropdown">
                                    <button class="search-box-btn dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fa fa-search"></span></button>
                                    <ul class="dropdown-menu pull-right search-panel" aria-labelledby="dropdownMenu3">
                                        <li class="panel-outer">
                                            <div class="form-container">
                                                <form method="post" action="#">
                                                    <div class="form-group">
                                                        <input type="search" name="field-name" value="" placeholder="Search Here" required>
                                                        <button type="submit" class="search-btn"><span class="fa fa-search"></span></button>
                                                    </div>
                                                </form>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>                            
                        </div>
                        <div class="socail-icon-area">
                            <ul class="social-icon-seven">
                                <li>Stay Connected:</li>
                                <li><a href=""><i class="fa fa-facebook-square"></i></a></li>
                                <li><a href=""><i class="fa fa-twitter-square"></i></a></li>
                                <li><a href=""><i class="fa fa-google-plus-square"></i></a></li>
                                <li><a href=""><i class="fa fa-linkedin-square"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                    
            </div>
        </div>
        <!--End Header Lower-->
        
        <!--Sticky Header-->
        <div class="sticky-header">
            <div class="container clearfix">
                <!--Logo-->
                <div class="logo pull-left">
                    <a href="index.html" class="img-responsive"><img src="images/logo-small.png" alt="" title=""></a>
                </div>
                
                <!--Right Col-->
                <div class="right-col pull-right">
                    <!-- Main Menu -->
                    <nav class="main-menu">
                        <div class="navbar-header">
                            <!-- Toggle Button -->      
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        
                        <div class="navbar-collapse collapse clearfix">
                            <ul class="navigation clearfix">
                                <li><a href="index.html">Home</a></li>
								<li><a href="about.html">About Company</a></li>
								<li><a href="team.html">Meet Our Team</a></li>
								<li><a href="contact.html">Contact Us</a></li>
                            </ul>
                        </div>
                    </nav><!-- Main Menu End-->
                </div>
                
            </div>
        </div>
        <!--End Sticky Header-->
    
    </header>
    <!--End Main Header-->
    
    <!--Page Title-->
    <section class="page-title" style="background-image:url(images/background/8.jpg);">
        <div class="container">
            <h1>About Us</h1>
        </div>
    </section>
    <!--End Page Title-->
    
    <!--Page Info-->
    <section class="page-info">
        <div class="container">
            <div class="flex-box-five">
                <ul class="bread-crumb">
                    <li><a href="index.html">Home</a></li>
                    <li>About Us</li>
                </ul>
                <div class="share-link"><a href="#"><i class="fa fa-share-alt"></i>share</a></div>
            </div>
        </div>
    </section>    
    <!-- End Page Info -->
    
    <!-- about us -->
    <section class="about-us sp-two">
        <div class="container">
            <div class="row">
                <div class="services-block-two col-xl-6 col-lg-12">
                    <div class="inner-box">
                        <div class="title"><h4>Our Mission is simple, deliver very honest financial products to every customer.</h4></div>
                        <div class="text"><p>Must explain to you how all this mistaken idea of denouncing pleasure and seds praising pain was born and I will give you a complete account of the system, and expound the actual teaching of the great explorer of the truth, the masterbuilder  human happiness rejects, dislikes, or avoids pleasure.</p> <p>Which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from annoying consequences.</p>
                        </div>
                        <div class="signature">
                            <img src="images/icons/sign.png" alt="">
                        </div>
                        <div class="author-information">
                            <h4>Mark Nicholes</h4>
                            <div class="designation">CEO & Founder</div>
                        </div>
                    </div>
                        
                </div>
                <div class="col-xl-6 col-lg-12">
                    <div class="flex-box">
                        <div class="image"><img src="images/resource/about-1.jpg" alt=""></div>
                        <!--Fact Counter-->
                        <div class="fact-counter">
                            
                            <!--Column-->
                            <div class="column counter-column">
                                <div class="inner">
                                    <div class="count-outer count-box">
                                        <span class="icon icon-file"></span>
                                        <span class="count-text" data-speed="3000" data-stop="1472">0</span><span class="plus-icon">+</span>
                                    </div>
                                    <h4 class="counter-title">Projects Done</h4>
                                </div>
                            </div>
                    
                            <!--Column-->
                            <div class="column counter-column">
                                <div class="inner">
                                    <div class="count-outer count-box">
                                        <span class="icon icon-people-1"></span>
                                        <span class="count-text" data-speed="2500" data-stop="285">0</span>
                                    </div>
                                    <h4 class="counter-title">Expert Workers</h4>
                                </div>
                            </div>
                    
                            <!--Column-->
                            <div class="column counter-column">
                                <div class="inner">
                                    <div class="count-outer count-box">
                                        <span class="icon icon-medal"></span>
                                        <span class="count-text" data-speed="2500" data-stop="639">0</span>
                                    </div>
                                    <h4 class="counter-title">Awards Won</h4>
                                </div>
                            </div>
                    
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!--Featured Section -->
    <section class="feature-section sp-two">
        <div class="container">
            <div class="sec-title centered">
                <h5>We are best</h5>
                <h2>Why Choose Us</h2>
            </div>
            <div class="feature-bg">
                <div class="row">
                    <!--New Block four-->
                    <div class="services-block-four col-lg-4 col-md-6 col-sm-12">
                        <div class="inner-box">
                            <div class="icon-box">
                                <span class="icon icon-clock"></span>
                            </div>
                            <h3>On Time Service</h3>
                            <div class="text">We are experts in industry with over 100 years of experience. What that means you are get right solution, experts.</div>
                        </div>
                    </div>
                    <!--New Block four-->
                    <div class="services-block-four col-lg-4 col-md-6 col-sm-12">
                        <div class="inner-box">
                            <div class="icon-box">
                                <span class="icon icon-people-2"></span>
                            </div>
                            <h3>Experineced Team</h3>
                            <div class="text">Advanced Analytics is an unique add-on service offering the SFinancewhich enables you to work trends organization.</div>
                        </div>
                    </div>
                    <!--New Block four-->
                    <div class="services-block-four col-lg-4 col-md-6 col-sm-12">
                        <div class="inner-box">
                            <div class="icon-box">
                                <span class="icon icon-chart"></span>
                            </div>
                            <h3>Analyze Your Business</h3>
                            <div class="text">Is an interprtation of trends in human behaviors which aims to increase effectiveness of a sed service for the consumer.</div>
                        </div>
                    </div>
                </div>
            </div>
                
        </div>
    </section>
    
    <!--Team Section-->
    <section class="team-section sp-six">
        <div class="container">
            <div class="flex-box-two">
                <div class="sec-title">
                    <h5>Our team</h5>
                    <h2>Meet Our Experts</h2>
                </div>
                <div class="link mt-2 mb-4">
                    <a href="#" class="theme-btn btn-style-two">All Experts</a>
                </div>
            </div>
            <div class="row">
                <!--Team Member-->
                <div class="team-member-one col-lg-3 col-md-6 col-xs-12">
                    <div class="inner-box">
                        <div class="image">
                            <img src="images/resource/team-1.jpg" alt="" />
                            <div class="overlay-box">
                                
                            </div>
                            <div class="mail"><a href="#"><i class="fa fa-envelope-o"></i>Eliot@Plumberhub.com</a></div>
                        </div>
                        <div class="lower-content">
                            <a href="blog-single.html"><h3>Richard Antony</h3></a>
                            <div class="designation">Founder</div>
                            <div class="text">Great explorer of the truth, the <br>master human happiness. </div>
                            <ul class="social-icon-one">
                                <li><a href="#"><span class="icon fa fa-facebook"></span></a></li>
                                <li><a href="#"><span class="icon fa fa-twitter"></span></a></li>
                                <li><a href="#"><span class="icon fa fa-skype"></span></a></li>
                                <li><a href="#"><span class="icon fa fa-linkedin"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--Team Member-->
                <div class="team-member-one col-lg-3 col-md-6 col-xs-12">
                    <div class="inner-box">
                        <div class="image">
                            <img src="images/resource/team-2.jpg" alt="" />
                            <div class="overlay-box">
                                
                            </div>
                            <div class="mail"><a href="#"><i class="fa fa-envelope-o"></i>Eliot@Plumberhub.com</a></div>
                        </div>
                        <div class="lower-content">
                            <a href="blog-single.html"><h3>Charz Cuthbert</h3></a>
                            <div class="designation">President</div>
                            <div class="text">Teachings of the great explors of <br>truth the master builders..</div>
                            <ul class="social-icon-one">
                                <li><a href="#"><span class="icon fa fa-facebook"></span></a></li>
                                <li><a href="#"><span class="icon fa fa-twitter"></span></a></li>
                                <li><a href="#"><span class="icon fa fa-skype"></span></a></li>
                                <li><a href="#"><span class="icon fa fa-linkedin"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--Team Member-->
                <div class="team-member-one col-lg-3 col-md-6 col-xs-12">
                    <div class="inner-box">
                        <div class="image">
                            <img src="images/resource/team-3.jpg" alt="" />
                            <div class="overlay-box">
                                
                            </div>
                            <div class="mail"><a href="#"><i class="fa fa-envelope-o"></i>Eliot@Plumberhub.com</a></div>
                        </div>
                        <div class="lower-content">
                            <a href="blog-single.html"><h3>Eliot Hananiah</h3></a>
                            <div class="designation">HR Manager</div>
                            <div class="text">Circumstances occur in which toil <br>pain can greatest pleasure.</div>
                            <ul class="social-icon-one">
                                <li><a href="#"><span class="icon fa fa-facebook"></span></a></li>
                                <li><a href="#"><span class="icon fa fa-twitter"></span></a></li>
                                <li><a href="#"><span class="icon fa fa-skype"></span></a></li>
                                <li><a href="#"><span class="icon fa fa-linkedin"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--Team Member-->
                <div class="team-member-one col-lg-3 col-md-6 col-xs-12">
                    <div class="inner-box">
                        <div class="image">
                            <img src="images/resource/team-4.jpg" alt="" />
                            <div class="overlay-box">
                                
                            </div>
                            <div class="mail"><a href="#"><i class="fa fa-envelope-o"></i>Eliot@Plumberhub.com</a></div>
                        </div>
                        <div class="lower-content">
                            <a href="blog-single.html"><h3>Daren Eldbridge</h3></a>
                            <div class="designation">Executive</div>
                            <div class="text">The greatest pleasur to take seds <br>example which of us ever.</div>
                            <ul class="social-icon-one">
                                <li><a href="#"><span class="icon fa fa-facebook"></span></a></li>
                                <li><a href="#"><span class="icon fa fa-twitter"></span></a></li>
                                <li><a href="#"><span class="icon fa fa-skype"></span></a></li>
                                <li><a href="#"><span class="icon fa fa-linkedin"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                
            </div>
        </div>
    </section>
    <!--End Team Section-->

	<!--Call To Action-->
    <section class="call-to-action-two parallax-one" style="background-image:url(images/background/9.jpg);">
    	<div class="container">
        	<div class="text-center">
                <h1>We are Money Experts</h1>
                <div class="text">Anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances <br> occur in which toil and pain can procure him some great pleasure. </div>  
                <div class="link"><a href="#" class="theme-btn btn-style-two">Our Services</a></div>
            </div>
        </div>
    </section>
    <!--End Call To Action-->

    <!-- working process -->
    <section class="working-process sp-two">
        <div class="container">
            <div class="sec-title centered">
                <h5>We are best</h5>
                <h2>Why Choose Us</h2>
            </div>
            <div class="row">
                <!--New Block four-->
                <div class="services-block-five col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="icon-box">
                            <span class="icon icon-mark"></span>
                        </div>
                        <h3>Evaluate</h3>
                        <div class="text">Which toil and pain can sed procure <br>him some great pleasure.</div>
                    </div>
                </div>
                <!--New Block four-->
                <div class="services-block-five col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="icon-box">
                            <span class="icon icon-business-2"></span>
                        </div>
                        <h3>Implement</h3>
                        <div class="text">Praising pain was born and will give <br>complete account  system.</div>
                    </div>
                </div>
                <!--New Block four-->
                <div class="services-block-five col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="icon-box">
                            <span class="icon icon-business-3"></span>
                        </div>
                        <h3>Expand</h3>
                        <div class="text">Actual teachings the great explorer <br> of the every one truth.</div>
                    </div>
                </div>
                <!--New Block four-->
                <div class="services-block-five col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="icon-box">
                            <span class="icon icon-business-4"></span>
                        </div>
                        <h3>Integrate</h3>
                        <div class="text">Occur in which toil  pain can procure <br>him some great pleasure.</div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- Partner logo -->
    <section class="partner-logo sp-one grey-bg">
        <div class="container">

            <div class="six-item-carousel owl-carousel owl-theme owl-dot-none owl-nav-none">
                <div class="item">
                    <img src="images/clients/1.png" alt="Awesome Image">
                </div>
                <div class="item">
                    <img src="images/clients/2.png" alt="Awesome Image">
                </div>
                <div class="item">
                    <img src="images/clients/3.png" alt="Awesome Image">
                </div>
                <div class="item">
                    <img src="images/clients/4.png" alt="Awesome Image">
                </div>
                <div class="item">
                    <img src="images/clients/5.png" alt="Awesome Image">
                </div>
                <div class="item">
                    <img src="images/clients/6.png" alt="Awesome Image">
                </div>

            </div>
        </div>
    </section>
    
    <!--Main Footer-->
    <footer class="main-footer">
        <div class="footer-top sp-two black-bg">
            <div class="container">
                <div class="row">
                    <!--footer about one -->
                    <div class="footer-about footer-column-border col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <div class="inner">
                            <div class="footer-logo"><img src="images/footer-logo.png" alt=""></div>
                            <div class="text">Over 24 years experience and knowledge international standards, technologicaly changes and industrial systems, we are dedicated to provides seds the best and economical solutions to our valued customers.</div>
                            <div class="link"><a href="#" class="thme-btn btn-style-twelve">Read More</a></div>
                        </div>
                    </div>
                    <!-- end -->

                    <!--footer link-->
                    <div class="footer-link footer-column-border col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <h3 class="footer-title">Usefull Links</h3>
                        <div class="inner">
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <ul>
                                        <li><a href="3"><i class="fa fa-angle-right"></i>Financial Planning</a></li>
                                        <li><a href="3"><i class="fa fa-angle-right"></i>Saving & Investing</a></li>
                                        <li><a href="3"><i class="fa fa-angle-right"></i>Mortgage Advice</a></li>
                                        <li><a href="3"><i class="fa fa-angle-right"></i>Retirement Plan</a></li>
                                        <li><a href="3"><i class="fa fa-angle-right"></i>Market Research</a></li>
                                        <li><a href="3"><i class="fa fa-angle-right"></i>Debt & Borrowing</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <ul>
                                        <li><a href="3"><i class="fa fa-angle-right"></i>About SFinance</a></li>
                                        <li><a href="3"><i class="fa fa-angle-right"></i>Customer FAQ’s</a></li>
                                        <li><a href="3"><i class="fa fa-angle-right"></i>Testimonials</a></li>
                                        <li><a href="3"><i class="fa fa-angle-right"></i>Get a Quote</a></li>
                                        <li><a href="3"><i class="fa fa-angle-right"></i>Meet Our Team</a></li>
                                    </ul>
                                </div>
                            </div>                                  
                                    
                        </div>
                    </div>
                    <!-- end -->
                    <!--footer newsletter one -->
                    <div class="footer-newsletter footer-column-border col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <h3 class="footer-title">Newsletter</h3>
                        <div class="inner">
                            <div class="text">Sign up today for  get hints, tips, latest updates & new product of SFinance.</div>
                            <form class="subscribe-form-two">
                                <div class="form-group">
                                    <span class="fa fa-envelope"></span>
                                    <input type="email" placeholder="Email Addres...">
                                    <button type="submit" class="fa fa-paper-plane"></button>
                                </div>
                            </form>
                            <ul class="social-icon-six">
                                <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                                <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                <li><a href="#"><span class="fa fa-skype"></span></a></li>
                                <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- end -->

                </div>
            </div>
        </div>
        
        <!--Footer Bottom-->
        <div class="footer-bottom text-center black-bg">
            <div class="container">
                <div class="clearfix">
                    <div class="column float-lg-left">
                        <div class="footer-copyright">Copyright &copy; 2018.Company name All rights reserved.</div>
                    </div>
                    <!--footer menu Column-->
                    <div class="float-lg-right">
                        <ul class="footer-menu">
                            <li><a href="#">Support </a></li> |
                            <li><a href="#">Privacy & Policy </a></li> |
                            <li><a href="#">Terms & Conditions</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--Main Footer-->
    
</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="icon fa fa-arrow-up"></span></div>

<script src="js/jquery.js"></script> 
<script src="js/tether.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.fancybox.pack.js"></script>
<script src="js/jquery.fancybox-media.js"></script>
<script src="js/owl.js"></script>
<script src="js/appear.js"></script>
<script src="js/wow.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/script.js"></script>

</body>
</html>
