<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Contact</title>
<!-- Stylesheets -->
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<link href="css/responsive.css" rel="stylesheet">

<!--Color Themes-->
<!--<link href="css/color-themes/default-theme.css" rel="stylesheet">-->

<!--Favicon-->
<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
<link rel="icon" href="images/favicon.ico" type="image/x-icon">
<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
<!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>

<body>
<div class="page-wrapper">
 	
    <!-- Preloader -->
    <div class="preloader"></div>
 	
    <!-- Main Header-->
    <header class="main-header">
    
        <!--Header Top-->
        <div class="header-top-one">
            <div class="container">
                <div class="flex-box-three">
                    <div class="welcome-text flex-box-four">
                        <div class="text">Home Loans now from 7.50%* p.a.</div>
                        <div class="link"><a href="#" class="theme-btn btn-style-fifteen">Apply now</a></div>
                    </div>
                    <div class="top-right flex-box-three">
                        <ul class="topbar-menu">
                            <li><a href="#">Get Support</a></li>
                            <li><a href="#">Job Career</a></li>
                            <li><a href="#">Feedbacks</a></li>
                        </ul>
                        <ul>
                            <li class="language-switcher dropdown"><a class="btn btn-default dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" href="#"><span class="icon"><img src="images/icons/universal.png" alt="" /></span>&ensp; Newyork <span class="icon fa fa-angle-down"></span></a>
                                <ul class="dropdown-menu style-one" aria-labelledby="dropdownMenu1">
                                    <li><a href="#">Newyork</a></li>
                                    <li><a href="#">California</a></li>
                                    <li><a href="#">Los Angeles</a></li>
                                    <li><a href="#">Las Palmas</a></li>
                                </ul>
                            </li>
                        </ul>
                        
                    </div>
                </div>
            </div>
        </div>
    
        <!--Header-Upper-->
        <div class="header-upper">
            <div class="container">
                <div class="flex-box-three">
                    
                    <div class="logo-outer">
                        <div class="logo"><a href="index.html"><img src="images/logo.png" alt="" title=""></a></div>
                    </div>
                    
                    <div class="flex-box-four">
                        
                        <!--Info Box-->
                        <div class="info-box-one">
                            <div class="icon-box"><span class="icon-signs-1"></span></div>
                            <ul>
                                <li><i>SFinance, Broke St</i></li>
                                <li><strong>Newyork 10012, USA</strong></li>
                            </ul>
                        </div>
                        
                        <!--Info Box-->
                        <div class="info-box-one">
                            <div class="icon-box"><span class="icon-technology"></span></div>
                            <ul>
                                <li><i>Quick Contact:</i></li>
                                <li><strong>+44 567 890123 & 30 </strong></li>
                            </ul>
                        </div>

                        <div class="link-btn">
                            <a href="#" class="theme-btn btn-style-fourteen">Get a Quote</a>
                        </div>
                        
                    </div>
                    
                </div>
            </div>
        </div>
        <!--End Header Upper-->
        
        <!--Header Lower-->
        <div class="header-lower">
            
            <div class="container">
                <div class="menu-bg">
                    <div class="nav-outer clearfix">
                        <!-- Main Menu -->
                        <nav class="main-menu">
                            <div class="navbar-header">
                                <!-- Toggle Button -->      
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                </button>
                            </div>
                            
                            <div class="navbar-collapse collapse clearfix">
                                <ul class="navigation clearfix">
                                    <li><a href="index.html">Home</a></li>
									<li><a href="about.html">About Company</a></li>
									<li><a href="team.html">Meet Our Team</a></li>
									<li><a href="contact.html">Contact Us</a></li>
                                </ul>
                            </div>
                        </nav>
                        <!-- Main Menu End-->
                        
                        <div class="outer-box">
                            <!--Search Box-->
                            <div class="search-box-outer">
                                <div class="dropdown">
                                    <button class="search-box-btn dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fa fa-search"></span></button>
                                    <ul class="dropdown-menu pull-right search-panel" aria-labelledby="dropdownMenu3">
                                        <li class="panel-outer">
                                            <div class="form-container">
                                                <form method="post" action="#">
                                                    <div class="form-group">
                                                        <input type="search" name="field-name" value="" placeholder="Search Here" required>
                                                        <button type="submit" class="search-btn"><span class="fa fa-search"></span></button>
                                                    </div>
                                                </form>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>                            
                        </div>
                        <div class="socail-icon-area">
                            <ul class="social-icon-seven">
                                <li>Stay Connected:</li>
                                <li><a href=""><i class="fa fa-facebook-square"></i></a></li>
                                <li><a href=""><i class="fa fa-twitter-square"></i></a></li>
                                <li><a href=""><i class="fa fa-google-plus-square"></i></a></li>
                                <li><a href=""><i class="fa fa-linkedin-square"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                    
            </div>
        </div>
        <!--End Header Lower-->
        
        <!--Sticky Header-->
        <div class="sticky-header">
            <div class="container clearfix">
                <!--Logo-->
                <div class="logo pull-left">
                    <a href="index.html" class="img-responsive"><img src="images/logo-small.png" alt="" title=""></a>
                </div>
                
                <!--Right Col-->
                <div class="right-col pull-right">
                    <!-- Main Menu -->
                    <nav class="main-menu">
                        <div class="navbar-header">
                            <!-- Toggle Button -->      
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        
                        <div class="navbar-collapse collapse clearfix">
                            <ul class="navigation clearfix">
                                <li><a href="index.html">Home</a></li>
								<li><a href="about.html">About Company</a></li>
								<li><a href="team.html">Meet Our Team</a></li>
								<li><a href="contact.html">Contact Us</a></li>
                            </ul>
                        </div>
                    </nav><!-- Main Menu End-->
                </div>
                
            </div>
        </div>
        <!--End Sticky Header-->
    
    </header>
    <!--End Main Header-->
    
    <!--Page Title-->
    <section class="page-title" style="background-image:url(images/background/8.jpg);">
        <div class="container">
            <h1>Contact Us</h1>
        </div>
    </section>
    <!--End Page Title-->
    
    <!--Page Info-->
    <section class="page-info">
        <div class="container">
            <div class="flex-box-five">
                <ul class="bread-crumb">
                    <li><a href="index.html">Home</a></li>
                    <li>Contact Us</li>
                </ul>
                <div class="share-link"><a href="#"><i class="fa fa-share-alt"></i>share</a></div>
            </div>
        </div>
    </section>
    <!--End Page Info-->

    <section class="contact-section sp-one">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-7 col-sm-12 pr-md-0">
                    <div class="form-bg-one">
                        <!--Sec Title-->
                        <div class="sec-title">
                            <h5>Quick Contact</h5>
                            <h2>Get Touch With Us</h2>
                            <div class="text mt-4">We recently helped a small business grow from break-even to over $1 Million profit in less than 2 years, Have a general question, find below contact details .</div>
                        </div>
                        <!-- Contact Form -->
                        <div class="contact-form style-two">
                            <!--Comment Form-->
                            <form method="post" action="sendemail.php" id="contact-form">
                                <div class="row clearfix">
                                    <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                                        <input type="text" name="username" placeholder="Your Name*" required>
                                        <input type="text" name="phone" placeholder="Phone Number *" required>
                                        <select class="custom-select-box">
                                            <option>Choose Service</option>
                                            <option>Service One</option>
                                            <option>Service Two</option>
                                            <option>Service Three</option>
                                            <option>Service Four</option>
                                        </select>

                                    </div>

                                    <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                                        <textarea name="message" placeholder="Your Message..."></textarea>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                        <button class="theme-btn btn-style-one w-100" type="submit" name="submit-form">Submit Now</button>
                                    </div>
                                </div>
                            </form>

                        </div>
                        <!--End Comment Form -->
                    </div>
                        
                </div>
                <div class="col-lg-4 col-md-5 col-sm-12 pl-md-0">
                    <div class="image"><img src="images/resource/contact-1.jpg" alt=""></div>
                    <div class="contact-info-two">
                        <h4>Corporate Office</h4>
                        <div class="single-item-carousel owl-carousel owl-theme owl-dot-none owl-nav-style-two">
                            <div class="item">
                                <div class="info-box-two">
                                    <div class="icon-box"><span class="icon-signs-1"></span></div>
                                    <ul>
                                        <li><strong>Address:</strong> 321 Car World, 2nd Breaking <br>Str, Newyork ,USA 10002.</li>
                                    </ul>
                                </div>
                                <div class="info-box-two">
                                    <div class="icon-box"><span class="icon-technology"></span></div>
                                    <ul>
                                        <li><strong>Call Us:</strong><br> +321 4567 89 012 & 79 023</li>
                                    </ul>
                                </div>
                                <div class="info-box-two">
                                    <div class="icon-box"><span class="icon-multimedia"></span></div>
                                    <ul>
                                        <li><strong>Mail Us:</strong><br> Supportyou@SFinanceteam.com</li>
                                    </ul>
                                </div>
                                <ul class="social-icon-five mt-3">
                                    <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                                    <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                    <li><a href="#"><span class="fa fa-skype"></span></a></li>
                                    <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                                </ul>
                            </div>
                            <div class="item">
                                <div class="info-box-two">
                                    <div class="icon-box"><span class="icon-signs-1"></span></div>
                                    <ul>
                                        <li><strong>Address:</strong> 321 Car World, 2nd Breaking <br>Str, Newyork ,USA 10002.</li>
                                    </ul>
                                </div>
                                <div class="info-box-two">
                                    <div class="icon-box"><span class="icon-technology"></span></div>
                                    <ul>
                                        <li><strong>Call Us:</strong><br> +321 4567 89 012 & 79 023</li>
                                    </ul>
                                </div>
                                <div class="info-box-two">
                                    <div class="icon-box"><span class="icon-multimedia"></span></div>
                                    <ul>
                                        <li><strong>Mail Us:</strong><br> Supportyou@SFinanceteam.com</li>
                                    </ul>
                                </div>
                                <ul class="social-icon-five mt-3">
                                    <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                                    <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                    <li><a href="#"><span class="fa fa-skype"></span></a></li>
                                    <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                                </ul>
                            </div>
                                
                        </div>
                    </div>
                </div>
            </div> 
                                    
        </div>
    </section>
  
    <!--Map Section-->
    <section class="map-section">
    	<!--Map Outer-->
        <div class="map-outer">
            <div class="google-map" 
                id="contact-google-map" 
                data-map-lat="40.748109" 
                data-map-lng="-73.903774" 
                data-icon-path="images/icons/map-marker.png" 
                data-map-title="Alabama, USA" 
                data-map-zoom="12" 
                data-markers='{
                    "marker-2": [40.750970, -73.915876, "<h4>Branch Office</h4><p>50 Lower Thames St, London</p>"],
                    "marker-4": [40.746289, -73.948664, "<h4>Branch Office</h4><p>50 Lower Thames St, London</p>"]
                }'>

    		</div>
        </div>
    </section>
	<!--End Map Section-->
    
    <!--Main Footer-->
    <footer class="main-footer">
        <div class="footer-top sp-two black-bg">
            <div class="container">
                <div class="row">
                    <!--footer about one -->
                    <div class="footer-about footer-column-border col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <div class="inner">
                            <div class="footer-logo"><img src="images/footer-logo.png" alt=""></div>
                            <div class="text">Over 24 years experience and knowledge international standards, technologicaly changes and industrial systems, we are dedicated to provides seds the best and economical solutions to our valued customers.</div>
                            <div class="link"><a href="#" class="thme-btn btn-style-twelve">Read More</a></div>
                        </div>
                    </div>
                    <!-- end -->

                    <!--footer link-->
                    <div class="footer-link footer-column-border col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <h3 class="footer-title">Usefull Links</h3>
                        <div class="inner">
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <ul>
                                        <li><a href="3"><i class="fa fa-angle-right"></i>Financial Planning</a></li>
                                        <li><a href="3"><i class="fa fa-angle-right"></i>Saving & Investing</a></li>
                                        <li><a href="3"><i class="fa fa-angle-right"></i>Mortgage Advice</a></li>
                                        <li><a href="3"><i class="fa fa-angle-right"></i>Retirement Plan</a></li>
                                        <li><a href="3"><i class="fa fa-angle-right"></i>Market Research</a></li>
                                        <li><a href="3"><i class="fa fa-angle-right"></i>Debt & Borrowing</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <ul>
                                        <li><a href="3"><i class="fa fa-angle-right"></i>About SFinance</a></li>
                                        <li><a href="3"><i class="fa fa-angle-right"></i>Customer FAQ’s</a></li>
                                        <li><a href="3"><i class="fa fa-angle-right"></i>Testimonials</a></li>
                                        <li><a href="3"><i class="fa fa-angle-right"></i>Get a Quote</a></li>
                                        <li><a href="3"><i class="fa fa-angle-right"></i>Meet Our Team</a></li>
                                    </ul>
                                </div>
                            </div>                                  
                                    
                        </div>
                    </div>
                    <!-- end -->
                    <!--footer newsletter one -->
                    <div class="footer-newsletter footer-column-border col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <h3 class="footer-title">Newsletter</h3>
                        <div class="inner">
                            <div class="text">Sign up today for  get hints, tips, latest updates & new product of SFinance.</div>
                            <form class="subscribe-form-two">
                                <div class="form-group">
                                    <span class="fa fa-envelope"></span>
                                    <input type="email" placeholder="Email Addres...">
                                    <button type="submit" class="fa fa-paper-plane"></button>
                                </div>
                            </form>
                            <ul class="social-icon-six">
                                <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                                <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                <li><a href="#"><span class="fa fa-skype"></span></a></li>
                                <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- end -->

                </div>
            </div>
        </div>
        
        <!--Footer Bottom-->
        <div class="footer-bottom text-center black-bg">
            <div class="container">
                <div class="clearfix">
                    <div class="column float-lg-left">
                        <div class="footer-copyright">Copyright &copy; 2018.Company name All rights reserved.</div>
                    </div>
                    <!--footer menu Column-->
                    <div class="float-lg-right">
                        <ul class="footer-menu">
                            <li><a href="#">Support </a></li> |
                            <li><a href="#">Privacy & Policy </a></li> |
                            <li><a href="#">Terms & Conditions</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--Main Footer-->
    
</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="icon fa fa-arrow-up"></span></div>

<script src="js/jquery.js"></script> 
<script src="js/tether.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.fancybox.pack.js"></script>
<script src="js/jquery.fancybox-media.js"></script>
<script src="js/owl.js"></script>
<script src="js/appear.js"></script>
<script src="js/wow.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/validate.js"></script>
<script src="js/script.js"></script>

<!--Google Map APi Key-->
<script src="http://ditu.google.cn/maps/api/js?key=AIzaSyAHzPSV2jshbjI8fqnC_C4L08ffnj5EN3A"></script>
<script src="js/gmaps.js"></script>
<script src="js/map-script.js"></script>
<!--End Google Map APi-->


</body>
</html>
