#./images
#./.idea
#./fonts
#./plugins
##在下面添加css和js的依赖文件
#./plugins/revolution/js/jquery.themepunch.revolution.min.js
#./plugins/revolution/js/jquery.themepunch.tools.min.js
#./plugins/revolution/js/extension/revolution.extension.actions.min.js
#./plugins/revolution/js/extension/revolution.extension.carousel.min.js
#./plugins/revolution/js/extension/revolution.extension.kenburn.min.js
#./plugins/revolution/js/extension/revolution.extension.layeranimation.min.js
#./plugins/revolution/js/extension/revolution.extension.migration.min.js
#./plugins/revolution/js/extension/revolution.extension.navigation.min.js
#./plugins/revolution/js/extension/revolution.extension.parallax.min.js
#./plugins/revolution/js/extension/revolution.extension.slideanims.min.js
#./plugins/revolution/js/extension/revolution.extension.video.min.js
#./js/appear.js
#./js/bootstrap.min.js
#./js/gmaps.js
#./js/isotope.js
#./js/jquery-ui.js
#./js/jquery.fancybox-media.js
#./js/jquery.fancybox.pack.js
#./js/jquery.js
#./js/main-slider-script.js
#./js/map-script.js
#./js/mixitup.js
#./js/owl.js
#./js/playaudio.js
#./js/respond.js
#./js/script.js
#./js/searchhero.js
#./js/tether.min.js
#./js/validate.js
#./js/wow.js
#./plugins/revolution/css/layers.css
#./plugins/revolution/css/navigation.css
#./plugins/revolution/css/settings.css
#./css/animate.css
#./css/bootstrap.css
#./css/font-awesome.css
#./css/hover.css
#./css/imagehover-extended.css
#./css/jquery-ui.css
#./css/jquery.bootstrap-touchspin.css
#./css/jquery.fancybox.css
#./css/owl.css
#./css/responsive.css
#./css/style.css
